<div id="home">
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2 text-color">
        <h1>{{msg}}</h1>
        <div class="transparent-box">
          <h2>This is the webpage for searching and seeing about ingredients.</h2>
        </div>

        <h3>Sample Ingredients</h3>

         
        <ul id="food-list" class="list-group">
{{body}}
          {{!-- {{#each_upto foodItems 3}}
            <h1>{{this.title}}</h1>
            <iframe src="{{this.href}}"></iframe>

          {{/each_upto}} --}}




{{!--           
          {{#each examples}}
          <li data-id="{{this.id}}" class="list-group-item">
            <a href="example/{{this.id}}">{{this.text}}</a>
           <
            <button class="btn btn-danger float-right delete">ｘ</button>
          </li>

                 <div class="col ingredient">

        </div>
        <div class="col recipe">

        </div> --}}
          {{!-- {{/each}} --}}
        </ul>
      </div>
    </div>
  </div>
</div>


<script type="/javatextscript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/ingredients.js"></script>
