<div id="home">
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2 text-color">
        <h1>{{msg}}</h1>
        <div class="transparent-box">
          <h2>This page is for searching recipes.</h2>
        </div>
                <!-- This is where you search -->
        <form class="clearfix mb-4" action="POST">
          <div class="form-group">
            <h3>Sample Recipe:</h3>
                          
                  </div>
                  
        <ul id="food-list" class="list-group">

        {{#each foodItems}}
            <h1>{{this.title}}</h1>
            <button class="btn" id="recipeAdd">Add to Favorites</button>
            <div  id="recipeLink">
            <h4><a href="{{this.href}}">{{this.href}}</a></h4>
            </div>
            <h3>{{this.ingredients}}</h3>
            <img src="{{this.thumbnail}}" alt="{{this.title}}" width="250px" height="200px">
            
          {{/each}}
        </ul>
      </div>
    </div>
  </div>

<script type="/javatextscript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/ingredients.js"></script>
<script src="/js/recipe.js"></script>
